<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--复杂类型的注入-->
    <bean name="complex" class="com.zy.fzzhuru.Complex">
        <!--数组注入-->
        <!--<property name="arr" value="tom"></property>数组只有一个元素-->
        <property name="arr">
            <array>
                <value>tom</value>
                <value>jom</value>
                <ref bean="user"></ref>
            </array>
        </property>
        <property name="list">
            <list>
                <value>jhj</value>
                <value>bom</value>
                <ref bean="user"></ref>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="map1" value="douyu"></entry>
                <entry key="map2" value="123"></entry>
                <entry key="map3" value-ref="user"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="name">lianjie</prop>
                <prop key="driver">mysql.com.lll</prop>
            </props>
        </property>
    </bean>
    <bean name="user" class="com.zy.entity.User">
        <constructor-arg name="name" value="jj"></constructor-arg>
        <constructor-arg name="age" value="25"></constructor-arg>
    </bean>

</beans>