<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean元素的属性
            name:对象名可以重复，可以使用特殊字符
            class：类的权限定名
            id：不可重不能使用特殊字符
    -->
    <!--方式一：通过无参构造创建对象-->
    <bean name="user" class="com.zy.entity.User" scope="singleton" ></bean>
    <!--方式二了解：通过静态工厂创建-->
    <bean name="user2" class="com.zy.create_bean.UserFactory" factory-method="createUser"></bean>
    <!--方式三了解：通过实例工厂创建-->
    <bean name="userFactory" class="com.zy.create_bean.UserFactory"></bean>
    <bean name="user3" factory-bean="userFactory" factory-method="createUser2"></bean>




    <!--
        scope:singleton默认值，单例对象只有一个对象
            prototype多例每次都创建新的对象
        init-method:初始化方法
        destroy-method:销毁方法
        导入其他spring配置文件：<import resoutce="cn/itcast/applicationContext.xml"/>
    -->
    <!--
    属性注入：set方法<property name="" value=""(或对象ref="") />
             构造注入：<Constructor-arg name=""value="" index="" type=""/>index参数位置，type参数类型

    -->
    <!--set注入-->
    <bean name="user4" class="com.zy.entity.User">
        <property name="name" value="tom">
        </property>
        <property name="age" value="18"></property>
    </bean>
    <!--构造方法注入-->
    <bean name="user5" class="com.zy.entity.User">
        <constructor-arg name="name" value="tom2" index="0" type="java.lang.String"></constructor-arg>
        <constructor-arg name="age" value="19" type="java.lang.Integer"></constructor-arg>
    </bean>
    <!--p命名空间注入 引用类型p：属性名-ref-->
    <bean name="user6" class="com.zy.entity.User" p:name="slm" p:age="20" ></bean>
    <!--spel注入 -->
    <bean name="user7" class="com.zy.entity.User">
        <property name="name" value="#{user6.name}"></property>
        <property name="age" value="#{user6.age}"></property>
        <!--引用类型 <property name="a" ref="user"></property>-->
    </bean>
</beans>